@font-face {
    font-family: 'kanit';
    src: url("../Connexion/kanit/Kanit-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lily';
    src: url("../Connexion/lily-script-one/LilyScriptOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


* , ::after , ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    position: relative;
    height: 100vh;
    background-color: #1F201F;
    overflow: hidden;
   
}


/* background-page */
.content1-Bg , .content2-Bg{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}

.content1-Bg:nth-child(1){
    align-items: start;
}
.Bg{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.bg1 , .bg4 {
    background-color: rgba(249, 63, 180, 0.78);
    filter: blur(100rem);
    
}
.bg2 , .bg3 {
    background-color: rgba(72, 50, 191, 0.78);
    filter: blur(100rem);
}

.bg3{
    background-color: rgba(72, 50, 191, 0.61);
    transform: translate(-70px , 300px);
    animation: particule-anim3 6s  infinite ease-in-out;
}
.bg2 {
    transform: translate(100px , -250px);
    /* transition: all ease-in-out ; */
    animation: particule-anim2 10s  infinite ease-in-out;
    
}
.bg1{
    transform: translate(-100px , -105px);
    animation: particule-anim5 10s  infinite ease-in-out;
}
.bg4{
    transform: translate(100px , 250px);
    animation: particule-anim4 5s  infinite ease-in-out;
}
/* background-page */



/* Texte-content */

.Texte-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid black; */
}

.header , .field{
    width: 100%;
    height: 50%;
    
    /* border: 2px solid rgb(138, 55, 55); */
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 350px;

}

.bvn {
    font-size: 160px;
    font-family: "lily", sans-serif ;
    font-weight: 200;
    height: 195px;
    text-shadow: -20px 15px 35px rgba(255, 255, 255, 0.22) ;
}

.texte {
    width: 800px;
    text-align: center;
    font-size: 26px;
    font-family: 'kanit', sans-serif;
}
/* header */

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    /* align-items: center; */
}
.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 205px;
    height: 55px;
    border: none;
    border-radius: 20px;
    background-color: #60227E;
    font-family: 'kanit', sans-serif;
    font-weight: 100;
    box-shadow: 0px 0px 15px 4px rgb(101, 35, 134,0.70 );
    color: white;
    font-size: 30px;
    transition: background-color 0.5s ease-in;
    /* opacity: 1; */
    animation: btn-ombre 5s ease-in infinite ;
}

.btn:hover {
    background-color: rgba(96,34,126, 0);
    
}
.btn:active {
    background-color: rgb(217, 226, 233);
    
}
.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100px);
    font-family: 'kanit', sans-serif;
    gap: 15px;
}

.prio {
    z-index: -1;
}

.nom , .qui{
    display: flex;
    opacity: 0;
    flex-direction: column;
    transform: translateY(100px);

}


h4 { 
    transform: translateX(10px);
    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    
}
#h4 {
    transform: translateX(15px);
    
}
.input {
    height: 40px;
    width: 290px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.08);
    color: #ffffff;
    font-size: 15px;
    border: 2.5px solid rgba(136, 134, 134, 0.38);
    padding: 5px;
    padding-left: 10px;
}

.select {
    color: rgb(220, 220, 220);
}


.btn1 {
    
    width: 290px;
    transform: translateY(-10px);
    opacity: 0;
}

/* Texte-content */


/* Animation */

/* background-page */
@keyframes particule-anim2 {
    
    0%{
        transform: translate(100px , -250px);
        
    }

    50% {
        transform: translate(80px , -270px);
        
    }

    50% {
        transform: translate(50px , -350px);
        
    }
}

@keyframes particule-anim3 {
    
    0%{
        transform: translate(-70px , 300px);
        
    }

    50% {
        transform: translate(-60px , 210px);
        
    }

    50% {
        transform: translate(-50px , 100px);
        
    }
}

@keyframes particule-anim4 {
    
    0%{
        transform: translate(100px , 250px);
        
    }

    50% {
        transform: translate(30px , 250px);
        
    }

    50% {
        transform: translate(15px , 250px);
        
    }
}

@keyframes particule-anim5 {
    
    0%{
        transform: translate(-100px , -105px);
        
    }

    50% {
        transform: translate(-250px , -105px);
        
    }

    50% {
        transform: translate(-450px , -105px);
        
    }
}

/* background-page */

@keyframes btn-ombre{
    
    0%{
        box-shadow: 0px 0px 15px 4px rgb(101, 35, 134,0.70 );
        
    }

    50% {
        box-shadow: 2px 0px 15px 4px rgba(134, 18, 192, 0.7);
        
    }

    70% {
        box-shadow: -2px 0px 15px 4px rgba(126, 23, 173, 0.7);
        
    }
    100% {
        box-shadow: 0px 0px 15px 4px rgb(101, 35, 134,0.70 );
        
    }
}

@keyframes btn-ombre{
    
    0%{
        box-shadow: 0px 0px 15px 4px rgb(101, 35, 134,0.70 );
        
    }

    50% {
        box-shadow: 2px 0px 15px 4px rgba(134, 18, 192, 0.7);
        
    }

    70% {
        box-shadow: -2px 0px 15px 4px rgba(126, 23, 173, 0.7);
        
    }
    100% {
        box-shadow: 0px 0px 15px 4px rgb(101, 35, 134,0.70 );
        
    }
}

@keyframes Apparition-btn{
    
    from{
        transform: translateY(0);
        
    }

    to {
        transform: translateY(-100px);
        opacity: 0;
        
    }

} 

@keyframes Apparition-input {
    
     from {
        transform: translateY(100px);
     }

     to {
        transform: translateY(0);
        opacity: 1;
     }
}

@keyframes Apparition-btn1 {
    
    from {
        transform: translateY(-10px);
    }

    to {
       transform: translateY(-60px);
       opacity: 1;
    }
}
/* Animation */
