body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.question {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}


/* Caméra en haut à droite */
#camera-box {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    border: 2px solid red;
    padding: 5px;
    background-color: black;
    z-index: 9999;
    }

    video {
      width: 100%;
      border-radius: 5px;
    }

    .legend {
      color: white;
      text-align: center;
      font-size: 14px;
      margin-top: 4px;
    }